@{
    Layout = "/Views/MasterView.cshtml";
}
                       <!-- BLOG POST -->
                        <div class="home-blog">
                            <img src="~/Content/images/график.png" />
                            <h4>Вы можете позвонить по номеру +7 (8452) 69-21-16 и уточнить график работы.</h4>
                            <br />
                            <h5>
                                <br />
                                <h5>Адрес: Саратовская область, г. Саратов, ул. Соколовая, д. 345</h5>
                                <br />
                                  Добраться можно на автобусах: №223, №238, №242, №491.<br />

                                  Ближайшая остановка: «Институт МВД». Далее - пешком около 100 м. до кладбища.<br />

                                  Время работы: Понедельник - Четверг: с 08:00 до 17:00; Пятница: с 08:00 до 16:00.<br />

                                  Адрес: Российская Федерация, Саратовская область, г. Саратов, ул. Соколовая, д. 345.
                            </h5>
                            <br />
                        </div>
                        <br />
       