
@{
    Layout = "/Views/MasterView.cshtml";
}
<div class="zag">
    <h3>История самого старого кладбища в городе.</h3>
</div>
           
            <div class="text23">
                <h4>
                    <br />
                    <p>
                        Современное Воскресенское кладбище является самым старым в городе Саратове из сохранившихся старых кладбищ и самым известным. Несмотря на длительный период существования, до настоящего времени отсутствуют труды и публикации, которые достаточно полно описывали бы его историю и настоящее состояние. Несколько лет назад, когда было принято решение о разрешении подзахоронений на нем, резко возник интерес к этой части исторического города. Однако по сей день информация о нем является обрывочной и неполной, вопросов остается значительно больше чем ответов.
                        Из краткой исторической справки известно, что возникло кладбище более 180 лет назад, в 1836 году.
                    </p>
                    <p>
                        <img src="~/Content/images/3.jpg" class="leftimg" />
                        Тогда в городе бушевала эпидемия холеры, ежедневно уносившая сотни жизней горожан. Умерших от эпидемии хоронили на холерном (Красного креста) кладбище вокруг Иоанно-Предтеченской церкви. Однако поскольку оно быстро заполнилось (кладбище на Ильинской площади уже было закрыто), возникла необходимость открытия нового городского кладбища. Тогда саратовский мещанин Алексей Пичугин пожертвовал свою землю за чертой города для устройства нового кладбища, которое по фамилии жертвователя стали называть Пичугинским. После строительства им же в 1844 году на территории кладбища была воздвигнута Воскресенская церковь, поэтому в народе кладбище стали называть еще и Воскресенским. Первоначально этот храм был однопрестольным, однако в 1895 году, на средства саратовского купца  Иоанна Шумилина к нему бы пристроен северный придел, а уже в 1899 году на пожертвования почетного гражданина Василия Баринова – южный. В годы советской власти церковь и все кладбищенские погосты были отобраны у церковного прихода, само здание храма было разрушено в 1930-е году. Для массовых захоронений кладбище было закрыто в 1979 году. До революции кладбище чаще называли Пичугинским, однако в настоящее время оно носит название разрушенной церкви. О жертвователе напоминает лишь Пичугинский переулок, получивший это название в новейшее время. На месте исторического храма находится мемориал Н.Г. Чернышевскому, новый храм построен в другой части кладбища. В современных своих границах Воскресенское кладбище занимает 63 гектара, и включает в себя примерно 350 000 захоронений.
                        МБУ «Администрация кладбищ», в ведомстве которого находится кладбище, имеет журналы регистрации погребений по годам с 1932 года, в которых указаны фамилии и даты смерти. В конце сороковых годов XX века сотрудники кладбища переписали все таблички, которые сохранились на могилах и были читаемы к данному времени, однако большая часть этих журналов сгорела (сохранились лишь книги по участкам №№ 2, 3, 24, 25, 26, 27, 28, 33, 35, 37). Таким образом, в этом учреждении в лучшем случае можно узнать лишь номер участка, на котором захоронены ближайшие родственники, преимущественно в советский период. Посторонним данная информация не предоставляется в соответствии с законом о защите персональных данных.
                        Из открытых источников информации, которых появилось множество в сети Интернет, можно выделить две основные группы.
                    </p>
                    <img src="~/Content/images/1.jpg" class="rightimg" />
                    <p>
                        Первая – это информационные ресурсы генеалогического профиля, которые занимаются поиском родственников и восстановлением семейной родословной. Например, интернет-портал «Всероссийское Генеалогическое Древо» или «Саратовское историко-родословное общество».
                        Вторая группа публикаций – турагентства и саратовские краеведы, которые организуют платные экскурсии по кладбищу. Дело в том, что на этом кладбище погребены многие известные саратовцы. Среди них – известный революционер Н.Г.Чернышевский, супруга поэта Н.А. Некрасова Зинаида Николаевна, писатель-народник Н.Е. Коронин-Петропавловский, декабрист П.П. Беляев ученый-химик Романа Мерцлин, театральный актер, педагог и режиссер  Иван Слонов, герои Гражданской и Великой Отечественной войны Дмитрий Емлютин, Юрий Пырков,  Константин Благодаров, профессор медицины Милош Марич, художник Николай Гущин. В братских могилах похоронены сотни и тысячи жертв репрессий 1930-1950-х годов. Среди них – великий советский ученый, биолог-генетик, ботаник и географ, академик Н.И. Вавилов, на месте предполагаемого захоронения которого установлен памятник. Рядом возведен мемориал жертвам политических репрессий. Здесь же место упокоения солдат и офицеров русско-японской войны, первой мировой войны, умерших в саратовских госпиталях, рядом – могилы выхаживавших их сестер милосердия. В годы Великой Отечественной войны было захоронено порядка 10 тысяч советских воинов, умерших от ран в саратовских госпиталях.
                        Кроме того, Воскресенское кладбище можно назвать одним из памятников истории Русской Православной Церкви.
                        На Воскресенском кладбище покоится весь цвет дореволюционного и советского духовенства Саратова. Здесь можно найти могилы XIX-XX столетий, принадлежащие архипастырям и пастырям Саратовской епархии. Самое старое сохранившееся захоронение, по данным саратовского церковно-исторического общества, датировано 1863 годом – это могила священнослужителя Чесницкого. Уже известны могилы более сотни церковно- и священнослужителей, а также монашествующих. Центром захоронений духовенства, сделанных в советское время, безусловно, являются могилы двух почитаемых саратовских архиереев – епископа Вениамина (Милова) (8 июля 1887 – 2 августа 1955) и архиепископа Досифея (Протопопова). На 41-м участке находится могила расстрелянных, на плите которой высечены имена 42 человек, в том числе пятерых священнослужителей. Считается, что здесь похоронены, расстрелянные в ночь на 10 октября 1919 года: епископ Вольский Герман (Косолапов); протоиерей Андрей Васильевич Шанский; протоиерей Михаил Павлович Платонов; протоиерей Геннадий Иванович Махровский; священник Олимп Васильевич Диаконов.
                        Сколько еще кладбище содержит в себе неизвестных могил знаменитостей и православного духовенства невозможно даже предположить, а надписи на могилах ветшают и становятся нечитаемыми с каждым годом десятками.
                    </p>

                </h4>
            </div>

